@model innovation4austria.web.Models.ProfilePasswordModel

@using (Html.BeginForm("SaveProfilePassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <!--
        die ID wird NICHT zum Client übertragen
        weil diese sonst manipuliert werden könnte
        und das System unbeabsichtigt einen anderen
        (als den angemeldeten) User ändern würde
    -->
    @*@Html.HiddenFor(x => x.ID)*@
    <div class="row">
        <h3 class="col-md-12">Passwort ändern</h3>
    </div>
    <div class="row">
        <div class="col-sm-2">
            @Html.LabelFor(x => x.OldPassword)
        </div>
        <div class="col-sm-10">
            @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.OldPassword)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            @Html.LabelFor(x => x.NewPassword)
        </div>
        <div class="col-sm-10">
            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            @Html.LabelFor(x => x.ConfirmNewPassword)
        </div>
        <div class="col-sm-10">
            @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary btn-lg">Speichern</button>
        </div>
    </div>
}