@model innovation4austria.web.Models.EmployeePasswordModel

@using (Html.BeginForm("SaveEmployeePassword", "Company", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ID)
    <div class="row">
        <h3 class="col-xs-12">Passwort ändern</h3>
    </div>
    <div class="row">
        <div class="col-sm-2 col-xs-3">
            @Html.LabelFor(x => x.OldPassword)
        </div>
        <div class="col-sm-10 col-xs-9">
            @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.OldPassword)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-xs-3">
            @Html.LabelFor(x => x.NewPassword)
        </div>
        <div class="col-sm-10 col-xs-9">
            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-xs-3">
            @Html.LabelFor(x => x.ConfirmNewPassword)
        </div>
        <div class="col-sm-10 col-xs-9">
            @Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-primary btn-lg">Speichern</button>
        </div>
    </div>
}