@model IEnumerable<innovation4austria.web.Models.CompanyModel>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Firmen verwalten</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-sm-3 col-xs-5">
        Firmenname
    </div>
    <div class="col-sm-2 hidden-xs">
        Adresse
    </div>
    <div class="col-sm-1 hidden-xs">
        Nr.
    </div>
    <div class="col-sm-2 hidden-xs">
        Stadt
    </div>
    <div class="col-md-1 col-sm-2 col-xs-3">
        PLZ
    </div>
    <div class="col-sm-2 col-xs-3">
        
    </div>
</div>
@foreach (var company in Model)
{
    <div class="row">
        <div class="col-md-offset-1 col-sm-3 col-xs-5">
            @company.Name
        </div>
        <div class="col-sm-2 hidden-xs">
            @company.Street
        </div>
        <div class="col-sm-1 hidden-xs">
            @company.Number
        </div>
        <div class="col-sm-2 hidden-xs">
            @company.City
        </div>
        <div class="col-md-1 col-sm-2 col-xs-3">
            @company.Zip
        </div>
        <div class="col-sm-2 col-xs-3">
            <a href="@Url.Action("Detail", "Company", new { id = company.ID })">Bearbeiten</a>
        </div>
    </div>
}

