@model IEnumerable<innovation4austria.web.Models.InvoiceModel>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Rechnungen verwalten</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-5 col-xs-12">
        @using (Html.BeginForm("Action", "Invoice", FormMethod.Post, new { id = "frmInvoice" }))
        {
            Html.AntiForgeryToken();
            <div class="row">
                <div class="col-xs-2">
                    Monat
                </div>
                <div class="col-xs-4">
                    <input name="date" id="date" class="date-picker" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-primary btn-md" id="btnShow">
                        Anzeigen
                    </button>
                </div>
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-primary btn-md" id="btnCreate">
                        Erzeugen
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-offset-1 col-sm-5 col-xs-12">
        @ViewBag.Message
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-md-offset-1 col-xs-2">
                Monat
            </div>
            <div class="col-xs-2">
                Firma
            </div>
            <div class="col-sm-1 hidden-xs">
                Betrag
            </div>
            <div class="col-xs-2">

            </div>
        </div>
        @foreach (var invoice in Model)
        {
            <div class="row">
                <div class="col-md-offset-1 col-xs-2">
                    @invoice.InvoicePeriod
                </div>
                <div class="col-xs-2">
                    @invoice.CompanyName
                </div>
                <div class="col-sm-1 hidden-xs">
                    @invoice.Sum
                </div>
                <div class="col-xs-2">
                    <a href="@Url.Action("Download", "Invoice", new { id = invoice.ID })">Download</a>
                </div>
            </div>
        }
    </div>
</div>


@section styles {
    <style type="text/css">
        .ui-datepicker-calendar {
            display: none;
        }
    </style>
}


@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#btnShow').click(function () {
                $("#frmInvoice").attr('action', '@Url.Action("Show", "Invoice")')
            });
            $('#btnCreate').click(function () {
                $("#frmInvoice").attr('action', '@Url.Action("Create", "Invoice")')
            });

            $('.date-picker').datepicker( {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function(dateText, inst) {
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                }
            });
        });
    </script>

}
