@model IEnumerable<innovation4austria.web.Models.SearchResultModel>
@{
    ViewBag.Title = "_Search";
}



<div id="lines">
    @if (Model != null && Model.Count() > 0)
    {
        <div class="row">
            <div class="col-xs-2">Standort</div>
            <div class="col-xs-2">Raum</div>
            <div class="col-xs-2">Preis / Tag</div>
            <div class="col-xs-2">Art</div>
            <div class="col-xs-2">Ausstattung</div>
            <div class="col-xs-2"></div>
        </div>

            <div class="row">
                @foreach (var room in Model)
                {
                    <div class="col-xs-2">
                        @room.Building.Label
                    </div>
                    <div class="col-xs-2">
                        @room.RoomName
                    </div>

                    <div class="col-xs-2">
                        @room.PricePerDay
                    </div>

                    <div class="col-xs-2">
                        @room.Type.Name
                    </div>

                    <div class="col-xs-2">
                        @if (room.AllRoomFacilities != null)
                        {
                            foreach (var roomFacility in room.AllRoomFacilities)
                            {
                                @roomFacility.Quantity<text>&nbsp;</text>@roomFacility.Facility.Name<text>,</text>
                            }
                        }
                    </div>

                    <div class="col-xs-2">
                        @using (Html.BeginForm("Confirmation", "Room", FormMethod.Post))
                        {
                            <input type="hidden" name="start" value="@(ViewBag.Start)"/>
                            <input type="hidden" name="end" value="@(ViewBag.End)" />                            
                            @Html.Hidden("idRoom", room.ID)

                            <button type="submit" class="btn btn-primary btn-md">Buchen</button>
                        }
                    </div>
                }
            </div>
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                Bitte wählen Sie andere Parameter um Suchtreffer zu erhalten!
            </div>
        </div>
    }

</div>

<div id="cards">
    <div class="row">
        @if (Model != null && Model.Count() > 0)
            {
                foreach (var room in Model)
                {
                <div class="col-xs-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-xs-12 text-center">@room.RoomName</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <img src="~/Content/img/team1.png" class="card-image"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Preis</div>
                            <div class="col-xs-6 text-left">@room.PricePerDay €/Tag</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Standort</div>
                            <div class="col-xs-6 text-left">@room.Building.Label</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Art</div>
                            <div class="col-xs-6 text-left">@room.Type.Name</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                @if (room.AllRoomFacilities != null)
                                {
                                    foreach (var roomFacility in room.AllRoomFacilities)
                                    {
                                        @roomFacility.Quantity<text>&nbsp;</text>@roomFacility.Facility.Name<text>, </text>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                @using (Html.BeginForm("Confirmation", "Room", FormMethod.Post))
                                {
                                    <input type="hidden" name="start" value="@(ViewBag.Start)" />
                                    <input type="hidden" name="end" value="@(ViewBag.End)" />
                                    @Html.Hidden("idRoom", room.ID)

                                    <button type="submit" class="btn btn-primary btn-lg">Buchen</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-xs-12">
                Bitte wählen Sie andere Parameter um Suchtreffer zu erhalten!
            </div>
        }
    </div>
</div>
